<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
    <main>
        <header>
            <h1>Hello World!</h1>
        </header>

        <section>
            <h2>Pesquise uma criptomoeda:</h2>

            <label for="criptomoeda">
                <input type="text" name="criptomoeda" id="criptomoeda">
            </label>
        
            <button id="get_price">PEGAR PREÇO</button>
            
            <div id="result"></div>
        
        </section>
    </main>

</body>
</html>